# fly.toml app configuration file generated for url-monitor-cool-shape-2530 on 2026-01-28T23:37:51-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'url-monitor-cool-shape-2530'
primary_region = 'ewr'

[build]
  dockerfile = 'Dockerfile'

[env]
  DD_ENV = 'production'
  DD_SERVICE = 'url-monitor'
  DD_VERSION = '1.0.0'

[[mounts]]
  source = 'url_monitor_data'
  destination = '/app/db'

[[services]]
  protocol = 'tcp'
  internal_port = 8080
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

  [[services.ports]]
    port = 80
    handlers = ['http']
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ['tls', 'http']

  [[services.http_checks]]
    interval = '10s'
    timeout = '2s'
    grace_period = '5s'
    method = 'GET'
    path = '/monitor'

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
